Pipelines/Copy_Table_Pipeline/copy_all_tables.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"AzureDatabricks1":{"type":"string"},"PostgreSqlPagila":{"type":"string"},"AzureDataLakeStorageCopyPostgres":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/copy_all_tables')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"LookupForAllTables","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"PostgreSqlV2Source","query":"SELECT schemaname AS \"SchemaName\", tablename AS \"TableName\"\nFROM pg_catalog.pg_tables\nWHERE schemaname = 'public';\n"},"dataset":{"referenceName":"PostgreSqlPagila","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"ForEachSchemaTable","type":"ForEach","dependsOn":[{"activity":"LookupForAllTables","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('LookupForAllTables').output.value","type":"Expression"},"activities":[{"name":"CopyEachTables","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"PostgreSqlV2Source","query":{"value":"@concat('SELECT * FROM ', trim(item().SchemaName), '.', trim(item().TableName))","type":"Expression"}},"sink":{"type":"ParquetSink","storeSettings":{"type":"AzureBlobFSWriteSettings","copyBehavior":"PreserveHierarchy"},"formatSettings":{"type":"ParquetWriteSettings"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"PostgreAllTablesCopy","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"Parquet2ADLS","type":"DatasetReference","parameters":{"schemaname":{"value":"@item().SchemaName","type":"Expression"},"tablename":{"value":"@item().TableName","type":"Expression"}}}]}]}},{"name":"FullPipeline","type":"DatabricksNotebook","dependsOn":[{"activity":"ForEachSchemaTable","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Data-Eng-project/main"},"linkedServiceName":{"referenceName":"[parameters('AzureDatabricks1')]","type":"LinkedServiceReference"}}],"policy":{"elapsedTimeMetric":{}},"annotations":[],"lastPublishTime":"2024-09-04T15:27:27Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/PostgreSqlPagila')]","[concat(variables('factoryId'), '/datasets/PostgreAllTablesCopy')]","[concat(variables('factoryId'), '/datasets/Parquet2ADLS')]"]},{"name":"[concat(parameters('factoryName'), '/PostgreSqlPagila')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('PostgreSqlPagila')]","type":"LinkedServiceReference"},"annotations":[],"type":"PostgreSqlV2Table","schema":[],"typeProperties":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/PostgreAllTablesCopy')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('PostgreSqlPagila')]","type":"LinkedServiceReference"},"annotations":[],"type":"PostgreSqlV2Table","schema":[],"typeProperties":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Parquet2ADLS')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorageCopyPostgres')]","type":"LinkedServiceReference"},"parameters":{"schemaname":{"type":"string"},"tablename":{"type":"string"}},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@concat(dataset().tablename,'.parquet')","type":"Expression"},"folderPath":{"value":"@concat(dataset().schemaname,'/',dataset().tablename)","type":"Expression"},"fileSystem":"bronze-raw"},"compressionCodec":"snappy"},"schema":[]},"dependsOn":[]}]}