Pipelines/Refresh_Views_Pipeline/CreateServerlessView.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"workspaceName":{"type":"string","metadata":"Workspace name","defaultValue":"data-eng-synapse-workspace"},"ServerlessSQLdb":{"type":"string"},"data-eng-synapse-workspace-WorkspaceDefaultStorage":{"type":"string"}},"variables":{"workspaceId":"[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"},"resources":[{"name":"[concat(parameters('workspaceName'), '/CreateServerlessView')]","type":"Microsoft.Synapse/workspaces/pipelines","apiVersion":"2019-06-01-preview","properties":{"activities":[{"name":"Get Tablename","type":"GetMetadata","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"Binary1","type":"DatasetReference","parameters":{}},"fieldList":["childItems"],"storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"BinaryReadSettings"}}},{"name":"ForEachTableNameCreateView","type":"ForEach","dependsOn":[{"activity":"Get Tablename","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Get Tablename').output.childItems","type":"Expression"},"activities":[{"name":"Stored procedure1","type":"SqlServerStoredProcedure","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[dbo].[CreateGoldView]","storedProcedureParameters":{"viewname":{"value":{"value":"@item().name","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('ServerlessSQLdb')]","type":"LinkedServiceReference"}}]}}],"policy":{"elapsedTimeMetric":{}},"annotations":[],"lastPublishTime":"2024-11-06T10:10:22Z"},"dependsOn":["[concat(variables('workspaceId'), '/datasets/Binary1')]"]},{"name":"[concat(parameters('workspaceName'), '/Binary1')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('data-eng-synapse-workspace-WorkspaceDefaultStorage')]","type":"LinkedServiceReference"},"annotations":[],"type":"Binary","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"transformed","fileSystem":"gold-businessready"}}},"dependsOn":[]}]}